@charset "UTF-8";

html,
body {
  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Dimension properties */
  height: 100vh;
  margin: 0;
  padding: 0;

  /* Text properties */
  text-align: center;
  font-size: 18px;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;

  /* Background properties */
  background: #faf8ef;
}

.heading {
  margin-bottom: 8px;
  width: 75vmin;
}

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;

}

.game-controls {
  /* Positioning properties */
  float: right;

  /* Flex properties */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
}

.scores-container {
  /* Positioning properties */
  float: right;

  /* Flex properties */
  display: flex;
  align-items: stretch;

  /* Alignment properties */
  vertical-align: middle;
}

.scores-container *+* {
  margin-left: 5px;
}

.score-container-title {
  /* Positioning properties */
  position: absolute;
  top: 10px;
  left: 0;

  /* Dimension properties */
  width: 100%;

  /* Text properties */
  text-transform: uppercase;
  font-size: 13px;
  color: #eee4da;

  /* Text alignment properties */
  text-align: center;

  /* Line properties */
  line-height: 13px;
}

.score-container {
  /* Positioning properties */
  float: right;
  position: relative;

  /* Flex properties */
  flex-grow: 0;
  flex-shrink: 0;

  /* Display properties */
  display: block;

  /* Background properties */
  background: #bbada0;

  /* Padding properties */
  padding: 15px 25px;

  /* Text properties */
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;

  /* Dimension properties */
  height: 25px;
  line-height: 47px;

  /* Border properties */
  border-radius: 3px;

  /* Margin properties */
  margin-top: 8px;
}

.new-game-container {
  /* Display properties */
  display: block;

  /* Flex properties */
  justify-content: center;

  /* Positioning properties */
  position: relative;

  /* Background properties */
  background: #bbada0;

  /* Text properties */
  font-size: 25px;
  font-weight: bold;  /* This property is duplicated, consider removing one */
  color: white;
  text-align: center;

  /* Dimension properties */
  height: 55px;
  line-height: 47px;

  /* Padding properties */
  padding: 0px 0px;

  /* Border properties */
  border-radius: 3px;

  /* Margin properties */
  margin-top: 4px;
  margin-bottom: 4px;
}

#new-game-button {

  /* Flex properties */
  flex-grow: 1;

  /* Dimension properties */
  height: 100%;
  width: 100%;

  /* Text properties */
  font-size: 25px;
  font-weight: bold;

  /* Background properties */
  background-color: #bbada0;
  color: #f9f6f2;

  /* Border properties */
  border: none;
  border-radius: 3px;

  /* Text alignment and decoration properties */
  text-align: center;
  text-decoration: none;

  /* Display properties */
  display: inline-block;

  /* Cursor properties */
  cursor: pointer;
}

.game-container {
  /* Dimension properties */
  width: 75min;
  height: 75vmin;

  /* Flex properties */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Positioning properties */
  position: relative;
}

table {
  /* Border properties */
  border-collapse: collapse;
  border-style: solid;
  border-color: #8F7A66;
  border-width: 10px;
  border-radius: 60px;

  /* Text properties */
  font-size: 175%;
  text-align: center;
  font-weight: bold;

  /* Background properties */
  background-color: #CDC1B4;

  /* Dimension properties */
  width: 75vmin;
  height: 75vmin;

  /* Table properties */
  table-layout: fixed;

  /* Positioning properties */
  position: relative;
}

td {
  /* Border properties */
  border-style: solid;
  border-color: #8F7A66;
  border-width: 10px;
  border-radius: 3px;

  /* Background properties */
  background-color: #CDC1B4;

  /* Box properties */
  box-sizing: border-box;
}

.game-over {
  /* Positioning properties */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* Dimension properties */
  width: 100%;
  height: 100%;

  /* Flex properties */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text properties */
  font-size: 55px;
  font-weight: bold;
  color: #fff;

  /* Background properties */
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent black */

  /* Border properties */
  border-radius: 3px;

  /* Z-index properties */
  z-index: 100;
}

.win-screen {
  /* Positioning properties */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* Dimension properties */
  width: 100%;
  height: 100%;

  /* Flex properties */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Text properties */
  font-size: 55px;
  font-weight: bold;
  color: #fff;

  /* Background properties */
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent black */

  /* Border properties */
  border-radius: 3px;

  /* Z-index properties */
  z-index: 100;
}


.cell-2 {
  background-color: #eee4da;
  color: #776e65;
}

.cell-4 {
  background-color: #ede0c8;
  color: #776e65;
}

.cell-8 {
  color: #f9f6f2;
  background-color: #f2b179;
}

.cell-16 {
  color: #f9f6f2;
  background-color: #f59563;
}

.cell-32 {
  color: #f9f6f2;
  background-color: #f67c5f;
}

.cell-64 {
  color: #f9f6f2;
  background-color: #f65e3b;
}

.cell-128 {
  color: #f9f6f2;
  background-color: #edcf72;
}

.cell-256 {
  color: #f9f6f2;
  background-color: #edcc61;
}

.cell-512 {
  color: #f9f6f2;
  background-color: #edc850;
}

.cell-1024 {
  color: #f9f6f2;
  background-color: #edc53f;
}

.cell-2048 {
  color: #f9f6f2;
  background-color: #edc22e;
}

.cell-star {
  color: #CDC1B4;
  background-color: #CDC1B4;
}

